<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cadastro Cliente</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
<body>

<div class="col-8 m-auto pt-2 pb-2 text-center">
  <h1>Cadastro de cliente</h1>
</div>

<div class="col-8 m-auto pt-2 pb-2 text-center">
  <a href="/form" class="btn btn-success">Adicionar</a>
</div>

<div class="col-8 m-auto pt-2 pb-2 text-center">
</div>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">email</th>
      <th scope="col">telefone</th>
      <th scope="col">endereco</th>
      <th scope="col">profissao</th>
      <th scope="col">açoes</th>

    </tr>
  </thead>
  <tbody>
    {% for dbs in db %}
    <tr>
      <th scope="row">1</th>
      <td>{{dbs.id}}</td>
      <td>{{dbs.Nome}}</td>
      <td>{{dbs.email}}</td>
      <td>{{dbs.telefone}}</td>
      <td>{{dbs.endereco}}</td>
      <td>{{dbs.profissao}}</td>
      <td>
        <a href="/view/{{dbs.id}}/" class="btn btn-dark">Visualizar</a>
        <a href="" class="btn btn-primary">Editar</a>
        <a href="" class="btn btn-danger">Deletar</a>


      </td>
    </tr>
    {% endfor%}



  </tbody>
</table>

</body>
</html>